.cards .titulo{
    text-align: center;
    margin: 0.75rem 1rem 1rem;
    font-weight: 700;
}

.cards .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.cards .container .tarjeta{
    margin: 1rem;
}

.cards .container .tarjeta .img{
    width: 80vw;
    border-radius: 13px 13px 0 0;
}

.cards .container .tarjeta .textos{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 0 0 13px 13px;
    text-align: left;
    padding: 1rem;
    padding-left: 1.2rem;
    background-color: #fff;
}

.cards h2{
    font-weight: 600;
}

.cards .container .tarjeta .textos .containerBoton{
    display: flex;
    justify-content: baseline;
    cursor: pointer;
}

.cards a{
    text-decoration: none;
    color: black;
}

.cards a:hover{
    color: #004E6F;
}

.cards .container .tarjeta .textos .boton{
    font-weight: 700;
    font-size: 1.25rem;
}

.cards .container .tarjeta .textos .flecha{
    width: 3rem;
    margin-left: 0.75rem;
    margin-top: -0.25rem;
}

@media (min-width: 1024px){
    .cards .titulo{
        text-align: center;
        margin: 3rem 1rem 2rem;
        font-weight: 700;
        font-size: 3rem;
    }
    
    .cards .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cards .container .tarjeta .img,
    .cards .container .tarjeta .textos{
        width: 40vw;
    }

    .cards .container .tarjeta .textos{
        padding: 1rem 2rem;
    }
}