#Navbar .logo{
    width: 35vw;
    padding: 1rem;
}

#Navbar{
    background-color: #f8f8ff!important;
}

#Navbar .links{
    font-weight: 600;
    color: black;
    padding: 0.35rem 2rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#Navbar .links:hover{
    color: #004E6F;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 900;
}


@media(min-width: 768px){
    #Navbar .logo{
        width: 18vw;
    }
}

@media(min-width: 1024px) {

    #Navbar .logo{
        width: 10vw;
    }
}

