.diatomita{
    margin-bottom: 2rem;
}

.diatomita  .img{
    width: 70vw;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 1rem;
}

.diatomita {
    background-color: #004E6F;
    border-radius: 10px;
    margin: 1rem 2rem 3rem;
    opacity: 0.9;
    color: white;
    padding: 2rem 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.diatomita  .titulo{
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Franklin';
    font-weight: 700;
}

.diatomita  .texto{
    text-align: left;
    padding: 0rem 1rem 0rem;
    margin-bottom: -0.25rem;
}

@media (min-width: 768px){
    
    .diatomita {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 2rem;
    }

    .diatomita  .img{
        width: 25vw;
    }

    .diatomita  .data{
        margin-top: -2rem;
        margin-left: 3rem;
    }

    .diatomita  .data .titulo{
        font-weight: 900;
        font-size: 2.5rem;
    }

    .diatomita  .data .texto{
        font-size: 1.15rem;
    }

}


@media (min-width: 1024px){

.diatomita {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 8vw;
    height: 100%;
}

.diatomita  .img{
    width: 30vw;
    margin-top: 2rem;
}

.diatomita  .data{
    margin-left: 6vw;
    padding-right: 2rem;
}
}

@media (min-width: 1280px){

    .diatomita{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .diatomita {
        padding: 8vh 8vw;
    }

    .diatomita  .img{
        width: 25vw;
    }
    
    .diatomita  .data{
        margin-left: 10vw;
    }

    .diatomita  .data .titulo{
        font-size: 4rem;
    }

}