.bannerMobile{
    padding: 1.5rem 0;
}

.bannerMobile .img{
    width: 85vw;
    border-radius: 5%;
}

.bannerDesktop{
    display: none;
}

@media (min-width: 1024px){
    .bannerMobile{
        display: none;
    }

    .bannerDesktop{
        display: flex;
        margin: 0 auto ;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

    .bannerDesktop .img{
        width: 85vw;
        border-radius: 12px;
    }
}